<!-- Home Page -->
<div id="welcome-text">
    <h1>Welcome to Harmony Hub!</h1>
    <i>Your vibrant community center for learning and collaboration.</i>
</div>
<div id="home" class="page">
    <!-- Dynamic Background (Slideshow) and Welcoming Text -->
    <div id="slideshow-container">
        <!-- Images for the slideshow -->
        <img class="slide" src="../content/images/slide1.jpg" alt="Slide 1">
        <img class="slide" src="../content/images/slide2.jpg" alt="Slide 2">
    </div>

</div>