<!--
Author: Tolihat Gbadebo
Course Code: INFT2202
Filename: team.html
Date: January 24th, 2024
Description: This is the team page for Assignment 01 website.
-->


<!-- Team Page Content -->
<div id="team" class="page">
    <br/>
    <h2>&nbsp;&nbsp;<i class="fa-solid fa-user-tie"></i>&nbsp;Team</h2>

    <!-- Team Members Grid -->
    <div class="team-grid">
        <div class="team-member" data-toggle="modal" data-target="#memberModal1">
            <img src="client/assets/images/mypic.jpg" alt="Member 1">
            <h3>Tolihat Gbadebo</h3>
            <p><i>Front-end Developer</i></p>
            <button id="openModalBtn" type="button" class="btn btn-dark">Read More...</button>
        </div>
        <!-- Add more team members as needed -->

        <!-- Modal for Member 1 -->
        <div class="modal fade" id="memberModal1" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="memberModalLabel1">About Tolihat Gbadebo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="client/assets/images/mypic.jpg" alt="Member 1">
                        <p><b>Tolihat Gbadebo</b> is a frontend developer with expertise in HTML, CSS, and JavaScript. He is passionate about creating user-friendly and visually appealing web interfaces.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more modals for other team members -->
    </div>
    

</div>