<footer class="site-footer">

    <div>
        <h4>&nbsp;&nbsp;&nbsp;  Contact Us:</h4>
        <ul style="list-style-type:none;">
            <li>Oshawa St, Ontario, Canada.</li>
            <li>905-888-1000</li>
            <li>tolihatsolutions@gmail.com</li>
            <li><i class="fa-brands fa-instagram"></i>  <i class="fa-brands fa-twitter"></i>  <i class="fa-brands fa-facebook"></i>  <i class="fa-brands fa-whatsapp"></i> <i class="fa-brands fa-linkedin"></i></li>

        </ul>
    </div>
    <div class="footer-content">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data="privacy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="terms">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <hr/>
    <p class="copyright">&copy; 2024 Tolihat Solutions. All rights reserved.</p>
</footer>